/* GENERAL */
* {
	padding: 0px;
	margin: 0px;
}
h1 {
	color: #726277;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	letter-spacing: 5px;
	margin-left: 10px;
}
p {
	font-family: "Open Sans", sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.wrapper
{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */
header
{
	height: 120px;
	background: #fefeff;
}
header h1 {
	float: left;
	margin-top: 32px;
}
header img {
	float: left;
	margin-top: 32px;
}
header nav {
	float: right;
	margin-top: 40px;
}
header nav ul li {
	display: inline-block;
	float: left;
	height: 30px;
	width: 150px;
	padding-top: 10px;
	text-align: center;
}
header nav ul a {
	text-transform: uppercase;
	font-family: "Open Sans Light", sans-serif;
}
header nav ul li:hover {
	background-color: #eae5eb;
}

/* MAIN IMAGE */
#main_image {
	height: 420px;
  	position: relative;
  	overflow: hidden;
}
#main_image .wrapper .wrapper-inside {
	position: relative;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	color: white;
	letter-spacing: 4px;
}
#main_image #upper_text {
	width: 560px;
	font-size: 35px;
	border-bottom: 1px solid white;
	padding: 140px 0 0 0;
}
#main_image #lower_text {
	width: 590px;
	font-size: 40px;
	border-bottom: 1px solid white;
	display: inline-block;
}
#main_image .slider {
  filter: sepia(30%);
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: animate 20s linear infinite;
}
#main_image .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

@keyframes animate {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

#main_image .wrapper .slider .slide.slide1 {
  background: url("images/desert.jpg");
  background-size: cover;
  background-position: center;
}
#main_image .wrapper .slider .slide.slide2 {
  background: url("images/new_york.jpg");
  background-size: cover;
  background-position: center;
}
#main_image .wrapper .slider .slide.slide3 {
  background: url("images/snowboard.jpg");
  background-size: cover;
  background-position: center;
}
#main_image .wrapper .slider .slide.slide4 {
  background: url("images/beach.jpg");
  background-size: cover;
  background-position: center;
}

/* GUIDE */
#guide {
	height: 120px;
	margin: 0 auto;
}
#guide ul {
	margin: 30px 0;
	padding-left: 200px;
}
#guide ul li
{
	width: 150px;
	float: left;
	text-align: center;
	margin-left: 10px;
	padding-top: 80px;
}
#guide p {
	text-transform: uppercase;
	color: #726277;
	padding-top: 5px;
}
#gastro {
	background: url("https://static.wixstatic.com/media/84770f_ab4371ab566840da82ba176d765605c3.png/v1/fill/w_76,h_76,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_ab4371ab566840da82ba176d765605c3.png") no-repeat top center;
}
#aventure {
	background: url("https://static.wixstatic.com/media/84770f_c7a7c19770884acbbf701a727a4776dd.png/v1/fill/w_76,h_76,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_c7a7c19770884acbbf701a727a4776dd.png") no-repeat top center;
}
#farniente {
	background: url("https://static.wixstatic.com/media/84770f_6483578b83aa46279f4ca77d11e714cd.png/v1/fill/w_76,h_76,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_6483578b83aa46279f4ca77d11e714cd.png") no-repeat top center;
}

/* PROPOSITIONS */
#propositions {
	height: 900px;
	padding: 0 0 60px 0;
	margin: 0 auto;
}
#propositions article {
	width: 440px;
	height: 280px;
	float: left;
	border-radius: 5px;
	margin: 10px;
}
#propositions .overlay {
	background: rgba(255, 255, 255, 0.95);
	height: 80px;
	width: 100%;
	padding: 10px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	bottom: -201px;
}
#propositions .overlay img {
	width: 10%;
	position: relative;
	float: left;
	padding: 7px 7px 7px 0;
	border-right: 1px dashed #c7c0c9;
}
#propositions .overlay h3 {
	font-family: "Open Sans light", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #726277;
	letter-spacing: 1px;
	position: relative;
	float: left;
	padding: 3px 7px;
	border-bottom: 1px solid #c7c0c9;
	margin-left: 10px;
	width: 340px;
	text-align: left;
}
#propositions .overlay .localisation {
    font-family: 'Special Elite', cursive;	
    font-size: 16px;
    font-style: italic;
	color: #726277;
	letter-spacing: 1px;
	position: relative;
	float: left;
	padding: 10px 7px;
	margin-left: 10px;
}
#propositions .overlay .button {
	height: 15px;
	font-family: "Open Sans light", sans-serif;
    font-size: 12px;
	color: #fefeff;
	position: relative;
	float: right;
	background-color: #726277;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
}
#propositions .overlay .button:hover {
    font-size: 12px;
	color: #726277;
	background-color: #eae5eb;
	border: 1px solid #726277;
}

/* ARTICLES */
#articles {
	background-color: #f8f5ef;
	padding: 60px 0;
	margin: 0 auto;
	color: #726277;
	height: 620px;
}
#articles img {
	width: 250px;
	border-radius: 50%;
	border: 5px solid white;
}
#articles ul li {
	float: left;
	margin: 10px;
}
#articles .presentation {
	width: 250px;
	height: 370px;
	background-color: white;
	padding: 20px;
	text-align: center;
	position: relative;
	top: -40px;
}
#articles h4 {
	font-family: "Open Sans", sans-serif;
	font-size: 35px;
	line-height: 35px;
}
#articles h5 {
	font-family: "Open Sans light", sans-serif;
	font-size: 16px;
	padding-top: 10px;
}
#articles .titre {
	border-bottom: 1px dotted #726277;
	padding-bottom: 15px;
	margin-bottom: 15px;
	height: 100px;
}
#articles p {
	font-family: 'Special Elite', cursive;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 20px;
}

/* FOOTER */
footer {
	margin: 0 auto;
	background-color: #dad0dc;
	padding: 40px 0
}
footer .wrapper {
	display: flex;
}
.address {
	width: 240px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	color: white;
	border-bottom: 1px dotted #716077;
	padding-bottom: 10px;
	margin: 0 10px;
}
.links {
	width: 240px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: white;
	margin: 10px;
}
.links a {
	text-decoration: none;
	color: white;
}
.links p {
	padding-top: 10px;
}
.contact {
	width: 380px;
	margin: 10px;
	display: inline;
}
.contact input {
	font-family: "Special Elite", cursive;
	font-size: 14px;
	color: #726277;
	height: 13px;
	width: 150px;
	margin: 3px;
	padding: 10px;
}
.contact .col1 {
	border-left: 1px solid #716077;
	padding-left: 10px;
}
.contact .text-area {
	border-right: 1px solid #716077;
	padding-right: 10px;
}
.contact textarea {
	font-family: "Special Elite", cursive;
	font-size: 14px;
	color: #726277;
	height: 101px;
	width: 150px;
	margin: 3px;
	padding: 10px;
}
input::placeholder {
	color: #cdc2d0;
}
textarea::placeholder {
	color: #cdc2d0;
}
.contact div {
	display: inline-grid;
}
.contact button {
	margin-top: 10px;
	margin-left: 75px;
	height: 40px;
	width: 100px;
	background-color: #716077;
	border: none;
	color: white;
}.contact button:hover {
	background-color: #dad0dc;
	border: 1px solid #716077;
	color: #716077;
}
.guides {
	width: 240px;
	margin: 10px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dotted #716077;
}
.social_networks {
	width: 240px;
	margin: 10px;
	text-align: center;
}